{% extends 'base.html' %}

{% block head %}



{% endblock %}

{% block body %}

{% endblock %}

{% block body2 %}
<h3>
<p>For almost 7 years, Apple has been threatening to build a car, presumably one powered by a battery. The effort has
    been known internally as Project Titan and it has had 5 leaders in those 7 years. There have been rumors the company
    was in talks with Hyundai, Kia, Fisker, Canoo, Magna, and/or Foxconn about building the Apple Car (since it has no
    factory and no car manufacturing experience of its own), and it has approached both CATL and BYD about supplying
    batteries for the effort. To date, all of those companies have declined to get involved, so far as anyone knows.

    What we know is limited, of course, as hard information from inside Apple is almost impossible to get. What we do
    know is that a fellow named Doug Field used to work for Ford before he went to Tesla and then from there to
    Cupertino to head up the Project Titan team. He walked away recently to go back to Ford, unhappy, according to
    sources, that he was forced to report to John Giannandrea, the head of artificial intelligence for the company.

    <p>A Car Or A Computer?
    Therein lies the essential contradiction at Apple. Does it want to build cars or computers on wheels? According to
    Autoblog, that conflict has now been resolved. When Doug Field arrived in 2018, it was assumed the decision had been
    made to focus on building automobiles. But now Project Titan is in the hands of Kevin Lynch, the engineer primarily
    responsible for the success of the Apple Watch.

    Lynch has no experience in the automobile manufacturing or autonomous vehicles field, but Apple has hired former
    Tesla executives like Michael Schwekutsch and Stuart Bowers to fill key roles in the Project Titan program. Earlier
    this year, it also hired Ulrich Kranz, who previously was a leader at Canoo and helped oversee development of BMW’s
    electric cars. Since the transition to Lynch, the focus at Apple has shifted dramatically toward making an
    autonomous car suitable for robotaxi duty rather than a car for sale to individual customers.</p>

    As of today, self driving is in; acceleration, cornering, and braking are out. According to people who are anxious
    to talk about Project Titan but unwilling to identify themselves because they are not suppose to talk about it, the
    latest concept versions of a possible Apple Car have no steering wheel, only a steering device that can be activated
    in an emergency. That’s a little jarring, because that’s exactly where Google was before it spun off its autonomous
    car program into a new division called Waymo 10 years ago.

    Full Autonomy By 2025
    Insiders say Apple’s goal is to have fully autonomous cars ready by 2025. That’s ambitious. Waymo has been working
    on full autonomy for nearly 20 years. Tesla has been doing the same since the HW1 package rolled out in 2014. Waymo
    has suffered the loss of many of its engineers and Uber is getting out of the race entirely after agreeing to sell
    off its autonomous driving division last year.</p>
    </h3>

{% endblock %}