{% extends 'base.html' %}

{% block head %}



{% endblock %}

{% block body %}

{% endblock %}

{% block body2 %}
<h2>
Unlike the US or China, Indian entrepreneurs love to celebrate when their peers achieve a billion dollars valuation. One
simple reason behind this celebration can be the fact that the Indian ecosystem blossomed much later than the US or
China. For instance, according to a CB Insights report, the US and China have 423 and 165 unicorns respectively.
However, India is catching up to the speed of these developed countries.
</br>

At present, India has the third-largest startup ecosystem after the mentioned countries. The year 2021 turned out to be
rather unexpected and eventful after Covid-19 rampaged. The year saw the rise of a record 36 unicorns in the country. It
is interesting to highlight that this year has produced almost 46% of the total 78 Indian unicorns. Checkout our Indian
unicorn tracker for more details.</br>

Earlier this week, a Thrasio-styled venture entered the Indian unicorn club within six months of its inception, turning
several heads.

In this article, we will look at the top ten startups that entered the Indian unicorn club the fastest.

Top 10 Fastest Indian Startups To Enter The Unicorn club</br>
Mensa Brands
The Indian D2C market has witnessed a spurt of growth in the past couple of years, mostly riding on the increase in
Internet penetration and shift in customer purchase trend induced due to the pandemic.

As per the Inc42 Plus analysis, in the first seven months of 2021, Indian D2C startups raised $783.7 Mn across 66
funding deals — 251% higher than all of 2020. The report highlighted that this market is estimated to reach $100 Bn by
2025.</br>

It’s a no-brainer that aggregators of these D2C brands which often follow the ‘Thrasio’ model by acquiring these brands
and helping them with capital and reach have also grown exponentially.
</br>
Founded in May 2021 by Ananth Narayanan, Mensa Brands which has already partnered with 12 brands is the fastest unicorn
that the startup system has witnessed. It mopped $135 Mn in its Series B round led by Alpha Wave Ventures, and Falcon
Edge Capital at a billion-dollar valuation. It raised Series A of $50 Mn in May this year.</br>

Glance
Glance, the AI-driven personalised content provider, entered the celebrated unicorn club within 18 months after it
started its operations. Glance, which operates under the country’s first unicorn InMobi, crossed the billion-dollar
valuation in December last year.</br>

Naveen Tiwari led Glance mopped up around $145 Mn investment from Google and existing investor Mithril Capital. The
startup back then claimed that it has 115 Mn daily active users (DAUs) who spend 25 minutes per day consuming Glance’s
content.</br>

Paytm Mall
The recently listed Paytm which operates the ecommerce platform Paytm Mall was the third-fastest startup to have
achieved unicorn status in 2018. The startup picked $445 Mn in a funding round led by Paytm’s largest shareholder
Alibaba, along with Masayoshi Son’s SoftBank.</br>

Paytm Mall took 19 months to enter the unicorn club.

Udaan
The B2B ecommerce platform Udaan, which is on a spree raising debt funds crossed the billion-dollar valuation mark in
2018 after picking $225 Mn from DST Global and Lightspeed Venture Partners. Founded by three former Flipkart employees
Sujeet Kumar, Vaibhav Gupta, and Amod Malviya, Udaan has on boarded 30 lakh retailers, 25K sellers, and operates in 900
cities. It took Udaan around 22 months to become a unicorn.</br>

The startup’s valuation has almost tripled now to $3.1 Bn after raising $280 Mn from Octahedron Capital, Moonstone
Capital, and Lightspeed Ventures along with others.

Udaan is also in talks to go for public listing within 2 years.</br>

Ola Electric
The brainchild of Bhavish Aggarwal – the man behind country’s indigenious online cab aggregator Ola Cabs competing
against Uber – Ola Electric secured its spot in the unicorn club within 25 months after securing its $250 Mn funding in
Series B round from SoftBank in 2019.</br>
</h2>
{% endblock %}