{% extends 'base.html' %}

{% block head %}



{% endblock %}

{% block body %}

{% endblock %}

{% block body2 %}
<table>
    <tr>
        <td><div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://images.hindustantimes.com/img/2021/11/09/1600x900/spider-man_no_way_home_1636451315678_1636451323010.png" alt="Card image cap">
                <div class="card-body">
              <h5 class="card-title">SpiderMan No Way home leaks</h5>
              <p class="card-text">We have got some leaks from upcoming spider man </p>
              <a href="http://127.0.0.1:5000/news/news8" class="btn btn-primary">Read</a>
            </div>
          </div></td>

          <td> <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Tata_logo.svg/1200px-Tata_logo.svg.png" alt="Card image cap">
                <div class="card-body">
              <h5 class="card-title">Tata motors stock falls</h5>
              <p class="card-text">Read why tata stock fell</p>
              <a href="http://127.0.0.1:5000/news/news4" class="btn btn-primary">Read</a>
            </div>
          </div></td>
    </tr>
    <tr>

    </tr>
</table>

{% endblock %}